<footer class="bg-black">
  <div class="py-6 flex justify-between items-center max-w-7xl mx-auto">
    <label for="">
      Todos los derechos reservados para <span class="text-indigo-600">
        Smart Music</span
      >
    </label>
  </div>
</footer>
