<div
  class="fixed inset-x-0 top-0 -z-50 h-screen bg-no-repeat opacity-50 blur-sm md:opacity-30 bg-gradient-to-r from-cyan-500 to-blue-500"
>
</div>

<style>
  div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
<script>
  //background: url("/bg-music.webp");
</script>
