---
import Layout from "@layouts/Layout.astro";
---

<Layout title="" lang="es">
  <div
    class="bg-maluma relative group bg-top bg-no-repeat bg-cover pt-[350px] pb-[50px]"
  >
  </div>
  <div
    class="bg-emilia relative group bg-top bg-no-repeat bg-cover pt-[350px] pb-[50px]"
  >
  </div>
  <div
    class="bg-carlosvives relative group bg-top bg-no-repeat bg-cover pt-[350px] pb-[50px]"
  >
  </div>
  <div
    class="bg-wisin relative group bg-top bg-no-repeat bg-cover pt-[350px] pb-[50px]"
  >
  </div>
  <div
    class="bg-priceroyce relative group bg-top bg-no-repeat bg-cover pt-[350px] pb-[50px]"
  >
  </div>
</Layout>
