---
import { artistList } from "src/lib/data/data";
import type { ArtistItem } from "src/types";
import Artist from "@components/home/Artist.astro";
import { useTranslations } from "@i18n/utils";

const { lang } = Astro.props as { lang: "es" | "en" };
const items = artistList;
function chunkArray(arr: ArtistItem[], chunkSize: number) {
  const result = [];
  for (let i = 0; i < arr.length; i += chunkSize) {
    result.push(arr.slice(i, i + chunkSize));
  }
  return result;
}
let groups5 = chunkArray(items, 5);
let groups2 = chunkArray(items, 2);
const t = useTranslations(lang);
---

<section class="text-center my-10" data-eos="fade-up">
  <h1
    class="max-md:text-3xl text-5xl my-10 text-blue-400"
    data-eos="fade-up"
    data-aos-duration="3000"
  >
    {t("home.title")}
  </h1>
  {
    groups5.map((group) => (
      <div class="flex flex-wrap min-h-[300px] w-full max-md:hidden">
        {group.map((item) => {
          return <Artist lang={lang} item={item} />;
        })}
      </div>
    ))
  }
  {
    groups2.map((group) => (
      <div class="flex flex-wrap min-h-[300px] w-full lg:hidden">
        {group.map((item) => (
          <Artist lang={lang} item={item} />
        ))}
      </div>
    ))
  }
</section>
