---
import { useTranslations } from "@i18n/utils";
const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section class="text-center max-w-7xl mx-auto mt-28">
  <div data-aos="fade-up" class="gradient-text">
    <h2 class="text-5xl max-md:text-3xl">{t("home.whatwedo")}</h2>
  </div>

  <p data-aos="fade-up" class="text-lg my-7">
    These are the different departments that we work for our artists
  </p>
  <div class="grid max-md:grid-cols-1 grid-cols-2 gap-4 max-md:px-2">
    <div
      data-aos="fade-up"
      class="border border-gray-700 rounded-md min-h-4 py-8 px-4"
    >
      <h5 class="text-base">Editorial Administration</h5>
      <p class="text-gray-500 mt-7">
        Each artist has their individual needs in relation to their music and
        songwriting; here at WKE we offer our artists catered legal and
        financial advice when needed.
      </p>
    </div>
    <div
      data-aos="fade-up"
      class="border border-gray-700 rounded-md min-h-4 py-8 px-4"
    >
      <h5 class="text-base">Editorial Administration</h5>
      <p class="text-gray-500 mt-7">
        Each artist has their individual needs in relation to their music and
        songwriting; here at WKE we offer our artists catered legal and
        financial advice when needed.
      </p>
    </div>
    <div
      data-aos="fade-up"
      class="border border-gray-700 rounded-md min-h-4 py-8 px-4"
    >
      <h5 class="text-base">Editorial Administration</h5>
      <p class="text-gray-500 mt-7">
        Each artist has their individual needs in relation to their music and
        songwriting; here at WKE we offer our artists catered legal and
        financial advice when needed.
      </p>
    </div>
    <div
      data-aos="fade-up"
      class="border border-gray-700 rounded-md min-h-4 py-8 px-4"
    >
      <h5 class="text-base">Editorial Administration</h5>
      <p class="text-gray-500 mt-7">
        Each artist has their individual needs in relation to their music and
        songwriting; here at WKE we offer our artists catered legal and
        financial advice when needed.
      </p>
    </div>
  </div>
</section>
