---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import ImageBackground from "@components/layout/ImageBackground.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-white text-black dark:bg-gray-800 dark:text-white">
    <div class="fixed inset-x-0 top-0 -z-30 h-screen bg-black/80"></div>
    <ImageBackground />
    <Header lang={lang} />
    <div class="mt-36">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  .gradient-text {
    background-image: linear-gradient(
      to right,
      #0891b2,
      #4338ca
    ); /* Degradado de ejemplo */
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
