---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import ImageBackground from "@components/layout/ImageBackground.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta http-equiv="Permissions-Policy" content="encrypted-media=(self)" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-white text-black dark:bg-gray-800 dark:text-white">
    <div class="fixed inset-x-0 top-0 -z-30 h-screen bg-black/80"></div>
    <ImageBackground />
    <Header lang={lang} />
    <div class="mt-32">
      <slot />
    </div>
    <Footer />

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js" onload=""
    ></script>
    <script is:inline>
      document.addEventListener("astro:page-load", function () {
        const aosObj = AOS.init();
        //console.log("aosObj", aosObj);
      });
    </script>
  </body>
</html>
<style is:global>
  .gradient-text {
    background-image: linear-gradient(
      to right,
      #0891b2,
      #4338ca
    ); /* Degradado de ejemplo */
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
  }

  .mask-shadow {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
</style>
